<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MainPage(withLogin)</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/secondMain.css" />
  </head>

  <body>
    <div class="main">
      <%- include('header'); -%>

      <div class="mainBody">
        <div class="mainBody__calendar">
          <div class="tbtop">
            <div>
              <img src="img/calendarIcon.svg" alt="" />
              <span id="tbCalendarYM"></span>
              <span id="tbCalendarYMStr"></span>
              <span id="tbCalendarY"></span>
            </div>
            <div>
              <span><label onclick="prevCalendar()"><</label></span>
              <span><label onclick="nextCalendar()">></label></span>
            </div>
          </div>
          <table id="calendar">
            <tr>
              <td>Sun</td>
              <td>Mon</td>
              <td>Tue</td>
              <td>Wed</td>
              <td>Thr</td>
              <td>Fri</td>
              <td>Sat</td>
            </tr>
          </table>
        </div>

        <div class="challenge">
          <div class="challengeList">Challenge List</div>

          <% challenge_list.forEach(function(challenge, index) { %>
          <div class="challengeContent">
            <div>
              <div class="challengeNum">CH <%= index + 1 %></div>
              <div class="challengeDate">
                <%= moment(challenge.start_date).format('MM.DD'); %>
              </div>
            </div>
            <div class="border"></div>
            <div class="challengeInfo">
              <div class="challengeTitle"><%= challenge.name %></div>
              <div class="chartContainer">
                <div class="charts">
                  <div
                    class="rowChart"
                    style="width: <%= challenge.achievement * 100 %>%"
                  ></div>
                </div>
                <div class="chartPercent">
                  <%= challenge.achievement * 100 %>%
                </div>
              </div>
            </div>
            <img class="challenge_picture" src="img/challengePic.svg" alt="" />
          </div>
          <% }) %>

          <div class="challengeUpload">
            <a href="/challenge"
              ><img src="img/challengeUploadBtn.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/calendar.js"></script>
    <script language="javascript" type="text/javascript">
      buildCalendar();
    </script>
  </body>
</html>
